<h1> {{ section.settings.refresherSectionTwoText }} </h1>
<h2> {{- section.settings.refresherSectionTwoParagraph -}} </h2>

<div class="bgImg-"></div>

 {% comment %} <img
  alt="{{ image.alt }}"
  src="{{ section.settings.refresherSectionTwoImage | image_url: 'master' }}"
  width="{{ 1000 }}"
  height="{{ 500 }}"
  loading= "lazy"
 > {% endcomment %}


    {% style %} 
    .bgImg-{
      background-image: url('{{ section.settings.refresherSectionTwoImage | img_url: 'master' }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  
  {% endstyle %}


{% schema %}
{
  "name": "Refresher Section Two",
  "settings": [
    {
      "type": "text",
      "id": "refresherSectionTwoText",
      "label": "Section Refresher Text"
    },
    
    {
        "type": "richtext",
        "id": "refresherSectionTwoParagraph",
        "label": "Section Refresher Text Paragraph"
      },
      {
        "type": "image_picker",
        "id": "refresherSectionTwoImage",
        "label": "Image"
      }
      
  ],
  "presets": [
    {
    "name": "refresher Section Two"
    }
    ]
}
{% endschema %}