{% comment %} <link rel="stylesheet" href="{{ 'two-image.css' | asset_url | stylesheet_tag }}"> {% endcomment %}
{{ 'two-image.css' | asset_url | stylesheet_tag }}



{% style %} 
  .bgImg-{
    background-image: url('{{ section.settings.backgroundImagePicker | img_url: 'master' }}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .bgImg2-{
    background-image: url('{{ section.settings.backgroundImagePickerTwo | img_url: 'master' }}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

{% endstyle %}

<div class="container"> 
  <div class="category-wrapper"> 
      <div class="freshen bgImg- </div>"> 
        <div class="freshen-content"> 
        <h2> {% if section.settings.section_title != blank %} 
        {{ section.settings.section_title | escape }}
        {% endif %}
        </h2>
        <p> {{ section.settings.text }} </p> 

  </div> 
      </div>
      <div class="inspire bgImg2-">
        <div class="inspire-content">
            <h2> {% if section.settings.section_titleTwo != blank %} {{section.settings.section_titleTwo}} {% endif %} </h2>
            <p>Add some personality and warmth to your home office!
            </p>
            <button class="category-cta">Shop All</button>
        </div>
    </div>
        </div>

        {% comment %} <h3> {{ pages.title }} </h3> {% endcomment %}

        {% comment %} <ul>
          {%- paginate pages by 50 -%}
              {%- for p in pages -%}
                  <li>{{ p.title }}</li>
              {%- endfor -%}
              {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }} 
          {%- endpaginate -%}
          </ul> {% endcomment %}

          <h2>{{ pages.index.title }}</h2>

          <ul>
            {% for link in linklists.main-menu.links %}
            <li>  {{ linklists.main-menu.links }} </li>
            {% endfor %}
            
          </ul>

        <ul>
              {% paginate pages by 4 -%}
                {% for page in pages -%}
                <li>  {{ page.title | link_to: page.url }} </li>
                {%- endfor %}
                <a href="{{ page.url }}"><li>  {{ page.title | link_to: page.url }} </li></a>
                {{- paginate | default_pagination }}
              {%- endpaginate %}
        </ul>
</div> 






{% schema %}
{
  "name": "Two Image Banner",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Talk about your brand"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "image_picker",
      "id": "backgroundImagePicker",
      "label": "Image 2 for this section"
    },
    {
    "type": "text",
    "id": "section_titleTwo",
    "label": "Second Title",
    "default": "Two Talk about your brand"
    },
    {
    "type": "richtext",
    "id": "textTwo",
    "label": "Second Text",
    "default": "<p>Second Description Use this text to share information about your brand with your</p>"
    },
    {
    "type": "image_picker",
    "id": "backgroundImagePickerTwo",
    "label": "Second Image for this section"
    }
],
  "presets": [
    {
      "name": "Two Image Banner",
      "category": "Text"
    }
  ]
}
{% endschema %}